*{
    margin: 0;
    padding: 0;
    font-family:"Open-Sans", sans-serif;
}
header{
    height:100px;
    background-color: #132f5c;
    color: white;
    align-items: center; 
}
ul{
   
    list-style: none;
  
}
ul li a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 992px;
    min-width: 320px;
    margin: 0 auto;
}
.menu{
    display: flex;
    max-width: 992px;
    min-width: 320px;
    margin: auto; 
    /* justify-content: center; */
    /* border: 1px solid red; */
    /* justify-content: space-around; */
    justify-content: space-between;
    height: 100%;
    align-items: center;

}
.list-item{
    display: flex;
    width: 260px;
    /* border: 1px solid red; */
    justify-content: space-between;
}
.apresentacao{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.apresentacao .txt-apresentacao{
    height: 200px;
}
.txt-apresentacao h2{
    color: #132f5c;
    font-size: 48px;
    margin-bottom: 10px;

}
.bnt{
    width: 220px;
    height: 50px;
    background-color: #132f5c;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    /* padding: 3px; */
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
}
.quem-somos{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.quem-somos h2{
    font-size: 34px;
    border-left: 4px solid #122A57;
    padding-left: 10px;
    margin-bottom: 20px;
    color: #132f5c;
}
/* .quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    background-color: #132f5c;
    margin-right: 5px;
    position: relative;
} */
.quem-somos img{
    min-width: 420px;
}
.container-externo{
    background-color: #132f5c;
    width: 100%;
}
#servicos{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}
#servicos h2{
    color: #fff;
    font-size: 34px;
    margin-bottom: 20px;
}
.list-servicos{
    display: flex;
    justify-content: space-between;
}

